body {
  font-family: Cursive, sans-serif;
  color: purple;

}

h1 {
  color:goldenrod;
  
}


img {
  width:200px;
  float: right
  border:3px solid teal;
  /*
  Border-style: solid;
  border size: 3px;
  border-color: see above
  */
}
